image: "python:3.7"

stages:
  - build

before_script:
  - python --version

build:
  stage: build
  artifacts:
    paths:
      - dist/*
  script:
    - pip install -r requirements.txt
    - pyinstaller --onefile -y src/cbcli.py
